@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Thin.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-ExtraLight.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Light.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-ThinItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-LightItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-MediumItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-BoldItalic.ttf") format("truetype");
}
@font-face {
	font-family: JetBrains Mono;
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src:
		local("JetBrains Mono Nerd Font"),
		url("./JetBrainsMonoNerdFont-ExtraBoldItalic.ttf") format("truetype");
}
